#logo h1{
	color: red;
	opacity: 1;
}

#intro a {
	color: orange;
}

#intro p {
	margin-bottom: 0.2em;
}

#intro > .p-title {
	font-weight: 600;
	font-style: italic;
	font-size: 2em;
	margin: 0.5em 0;
	text-decoration: underline;
}

#intro > .slogan-title {
	text-align: center;
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 1em;
}

#intro > .slogan-details {
	font-size: 1.3em;
	font-weight: 700;
	margin-bottom: -0.5em;
}

#intro ul li {
	font-size: 0.9em;
	list-style: square;
}

#intro > .style2 {
	font-size: 1.5em;
	font-weight: 500;
	line-height: 150%;
	font-style: italic;	
}

#intro > .container-left > .about-title {
	margin-top: -1em;
	font-weight: 600;
}

#details > .style3 {
	font-size: 1em;
	width: 62em;
	margin: 1em auto;
	text-align: left;
}

#details a {
	color: #ff944d;
}

.feature-list-item {
	float: left;
	width: 25%;
}

.cleaner {
	clear: both;
}

#features ul li a {
	color: #f2f2f2;
}

#features .button {
	display: block;
	width: 25%;
	margin: 0px auto;
}

.movie_name {
	font-style: italic;
}

.container-left {
	float: left;
	width: 35%;
}

.container-left img {
	width: 100%;
}

.container-right {
	float: right;
	width: 60%;
}

.cleaner {
	clear: both;
}

#intro > .container-left {
	float: left;
	width: 40%;
}

#intro > .container-right {
	float: right;
	width: 55%;
}

.container-right iframe {
	width: 100%;
}