#logo h1{
	color: red;
	opacity: 1;
}

#details > .style3 {
	font-size: 1em;
	width: 62em;
	margin: 1em auto;
	text-align: left;
}

.feature-list-item {
	float: left;
	width: 25%;
}

.cleaner {
	clear: both;
}

#features ul li a {
	color: #f2f2f2;
}

#features .button {
	display: block;
	font-size: 0.8em;
	width: 25%;
	margin: 0px auto;
}